<style type="text/css">
    #Themgiohang a {
        clear: both;
        background-color: blueviolet;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Themgiohang a:hover {
            color: initial;
            background-color: gray;
        }
</style>
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="center_content">
    <h2>Thông tin chi tiết mặt hàng</h2>

    <div>
        <div style="width:50%;  border-left:dotted 1px; border-color:azure">
            <img src="~/HinhAnh/HinhAnh(MatHang)/@Model.HinhAnh" style="max-height:120px" />
        </div>
        <div style="width:80%;  padding:10px">
            <h3 style="font-weight:bold; color:red">Tên mặt hàng: @Model.TenHang</h3>
            <h3 style="font-weight:bold"> Đơn Giá: <span style="color:blue; font-size:20px"> @Model.DonGia VND </span></h3>
        </div>
        <div style="width:80%; padding:10px" id="Dathang">
            <a href="@Url.Action("ThemGiohang", "Home", new { @iMSMH = @Model.MSMH, @strURL = Request.Url.ToString() })" class="list-group-item">
                <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-default" />
            </a>
        </div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</div>